<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
    <script src="canvas-all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

    <!--script src="/public/canvas-all.js"></script>
    <script src="/node_modules/%40salesforce/canvas-js-sdk/js/canvas-all.js"></script>
    <script type="text/javascript" src="https://testcanvas1-dev-ed.my.salesforce.com/canvas/sdk/js/49.0/canvas-all.js"></script-->

  
  
   
<script>
var sr;
Sfdc.canvas.onReady(function () {
    console.log("Canvas application ready");
    Sfdc.canvas.client.refreshSignedRequest(function(data) {
        console.log(data.status);
        if (data.status === 200) {
           
            signedRequest =  data.payload.response;
            var part = signedRequest.split('.')[1];
            var obj = JSON.parse(Sfdc.canvas.decode(part));
            sr=obj;
            console.log(signedRequest);
            console.log(part);
            console.log(obj);
        }
    });
});




console.log(sr);


</script>
<script>

   


/*var url = sr.context.links.chatterFeedsUrl+"/news/"+sr.context.user.userId+"/feed-items";
var body = {body : {messageSegments : [{type: "Text", text: "Some Chatter Post"}]}};
Sfdc.canvas.client.ajax(url,
{client : sr.client,
method: 'POST',
contentType: "application/json",
data: JSON.stringify(body),
success : function(data) {
if (201 === data.status) {
alert("Success");
}
}
});*/

</script>



<div class="canvas-app">
    <img src="nodejs.png"/>
    <p>Hello, <%= context.user.firstName %>. This is a web app written in Node.js embedded in your Salesforce page (It could also be written in any other language).</p>
    <p>It is aware of its environment. For example, here are a few things it knows:</p>
    <table>
        <tr><td>User:</td><td><%= context.user.fullName %></td></tr>
        <tr><td>Object:</td><td><%= context.environment.record.attributes.type %></td></tr>
        <tr><td>Id:</td><td><%= context.environment.record.Id %></td></tr>
    </table>
    <table>
        <tr><td>FirstName:</td><td><%= contact.FirstName %></td></tr>
        <tr><td>LastName:</td><td><%= contact.LastName %></td></tr>
        <tr><td>Phone:</td><td><%= contact.Phone %></td></tr>
        <tr><td>Email:</td><td><%= contact.Email %></td></tr>
    </table>
  
<input type="text" value="<%= contact.Email %>"/>

<button class="btn btn-success" id="like">Install</button>


<script>

    $("#like").click(function(){
        $.post("/updaterecord",
        '<%- JSON.stringify(contact) %>' ,
        function(data,status){
          console.log("Data: " + data + "\nStatus: " + status);
        });
      });


</script>



    <p>It can also access more data in Salesforce using the REST APIs. With context and APIs, Canvas makes it easy to integrate applications written in any language inside your Salesforce pages.</p>
    <p>For example, the QR Code below is generated in Node.js. Scan it to create a contact on your mobile phone:</p>
    <%- imgTag %>




</div>
</body>
